@charset "UTF-8";
.informacion_villa {
  display: flex; }

.info {
  width: 65%;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(4, min-content);
  grid-column-gap: 2px;
  grid-row-gap: 8px; }

#nombre {
  grid-area: 1 / 1 / 2 / 3; }

#valoración {
  grid-area: 2 / 1 / 3 / 3; }

#capacidad {
  grid-area: 3 / 1 / 4 / 3; }

#precio {
  grid-area: 1 / 3 / 4 / 5;
  margin-top: 1.2rem; }

#toda_info {
  grid-area: 4 / 1 / 5 / 5; }

.opciones {
  width: 35%;
  margin: 2rem;
  padding: 0.8rem;
  background-color: color(gris-medio);
  display: flex;
  flex-direction: column; }

.opciones button {
  margin: 0.2rem 1.2rem 1rem 1.2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: color(golden);
  padding: 0.4rem 0rem 0.4rem 0rem;
  color: color(blanco); }

.opciones button a {
  color: color(blanco); }

.opciones div {
  margin-left: 2rem;
  padding-top: 2rem; }

#pre-footer {
  height: 50vh;
  text-align: center;
  color: color(blanco);
  padding-top: 2rem;
  background-image: url(../../imagenes/villlas/familia/villa_concreta/img_section-prefooter.avif);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2rem; }

#pre-footer p {
  padding-top: 0.4rem; }

#pre-footer button {
  background-color: color(beigee);
  color: color(negro);
  border: none;
  padding: 0.2rem 2rem 0.2rem 2rem;
  margin-top: 1rem; }

.estrella {
  height: 1rem; }
