///Mixin de posicionamiento en flex
/// @example
/// .container{
///    @include flex();
/// }
/// @param {string} $direction [row] -- Dirección del flexbox
/// @param {string} $justifycontent [space-around]-- Justificación del contenido
/// @param {string} $alignitems [center]-- Alineación del contenido
///

@mixin flexposition($direction:row, $justifycontent:space-around, $alignitems:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justifycontent;
    align-items: $alignitems;
}


///Mixin para cambiar progresivamente el tamaño al poner el ratón encima

@mixin hover_scale($scale:1.2){
    scale: $scale;
    transition: scale 1s;
}


///Mixin para poner progresivamente sombre al poner el ratón encima

@mixin hover_shadow(){
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px;
    transition: box-shadow 1s;
}


///Mixin para quitar progresivamente el tamaño al quitar el ratón

@mixin not_hover_scale(){
    scale: 1;
    transition: scale 1s;
}


///Mixin para quitar progresivamente la sombra al quitar el ratón

@mixin not_hover_shadow(){
    box-shadow: 0;
    transition: box-shadow 1s;
}


/// Mixin que cambia el contenido de un elemento de acuerdo a la pantalla
/// @example
/// .container{
///    @include response(xl){
///       color: white;
///   }
/// }
/// @param {string} $breakpoint -- Nombre del breakpoint respectod el tamaño
///

@mixin response($breakpoint){
    @if($breakpoint == xl){
        @media(max-widht: 1200px){
            @content;
        }
    }
    @if($breakpoint == lg){
        @media(max-widht: 992px){
            @content;
        }
    }
    @if($breakpoint == md){
        @media(max-widht: 768px){
            @content;
        }
    }
    @if($breakpoint == sm){
        @media(max-widht: 576px){
            @content;
        }
    }
}