///Componente Reserva
form{
    @include flexposition(column);
    margin-top: 4rem;
    margin-bottom: 2rem;
}
input, textarea{
    border-radius: 0.4rem;
    border-color: color(golden);
    display: block;
    padding: 0.35rem 0.75rem;
}
form button{
    background-color: color(beigee);
    border-radius: 0.4rem;
    border: none;
    padding: 0.2rem;
}