///Componente Tipo_card
#tipos_casas{
    @include flexposition($justifycontent:space-evenly);
    height: 30vh;
}
.tipo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    margin-top: 2rem;
}
.tipo a{
    @include flexposition($justifycontent:center, $alignitems:center);
}
.tipo i{
    font-size: 1.6rem;
}
.tipo:hover{
    background-color: color(gris-claro);
    border-radius: 5px;
    @include hover_scale();
}
.tipo:not(:hover){
    @include not_hover_scale();
}
a{
    text-decoration: none;
    color: color(negro);
}
a:hover{
    color: color(negro);
}